<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomili.mall.modules.product.mapper.PmsStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baomili.mall.modules.product.model.PmsStock">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="product_number" property="productNumber" />
        <result column="stock" property="stock" />
        <result column="stock_warning" property="stockWarning" />
        <result column="sale" property="sale" />
        <result column="lock_stock" property="lockStock" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="modified_by" property="modifiedBy" />
        <result column="modified_time" property="modifiedTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <select id="isExistTx" resultType="java.lang.Integer">

    </select>

    <update id="updatePmsStock">
        update pms_stock set
        stock = CASE product_id
        <foreach collection="reduceStockVos" item="item">
            WHEN #{item.productId} THEN stock - #{item.reduceQuantity}
        </foreach>
        END
        where product_id in
        <foreach collection="reduceStockVos" item="item" open="(" close=")" separator=",">
            #{item.productId}
        </foreach>
    </update>
</mapper>
